include AUTHORS
include ChangeLog
include CONTRIBUTING.rst
include LICENSE
include README.rst
include other-requirements.txt
include requirements.txt
include test-requirements.txt
include tox.ini
recursive-include doc *
exclude .gitignore
exclude .gitreview

global-exclude *.pyc
