hacking>=0.10.0,<0.11

coverage>=3.6
fixtures>=0.3.12
mock>=2.0  # BSD
python-subunit
testrepository>=0.0.13
testtools>=0.9.27
sphinx>1.6.1  # BSD
openstackdocstheme>=1.24.1  # Apache-2.0
sphinxcontrib-programoutput  # BSD license
